.ContactCard {
  min-width: 300px;
  text-align: left;
}

.ContactCard-picture {
  width: 100%;
  margin-bottom: 15px;
}

.ContactCard-contactsList {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  list-style: none;
  margin: 0;
  padding: 0;
}

.ContactCard-contactsItem {
  padding-bottom: 5px;
  text-align: left;
  white-space: normal;
}

.ContactCard--secondaryColor {
  color: #5b5b6b;
}
